<div class="row">
  <div class="col-lg-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="ajouterRessource()"> <span class="glyphicon glyphicon-plus"></span> Nouvelle Ressource </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th class="text-center">Désignation </th>
      <th class="text-center">Unité </th>
      <th class="text-right">Type </th>
     <!--  <th class="text-right">Equipe </th> -->
      <th class="text-center">Date de création </th>
      <!--<th>Disponibilité au plus tôt </th>
      <th>Disponibilité au plus tard </th>-->
      <th class="text-right">Quantité </th>
      <!--<th class="text-right">Action</th>-->
    </tr>
    </thead>
    <tbody>
    <tr class="liste-vide" *ngIf="projet?.ressources?.length == 0" style="text-align:center;">
      <td colspan="12">
        <p>Il n'existe aucune ressource sur la liste</p>
      </td>
    </tr>
    <tr *ngFor="let ressource of projet?.ressources ; index as i;" [ngClass]=""
        popover="{{ressource?.nom}}"
        popoverTitle="Nom de la ressource"
        triggers="mouseenter:mouseleave">
      <td>{{i+1}}</td>
      <td style = "text-align: center;">{{ressource?.nom}}</td>
      <td style = "text-align: center;">{{ressource?.unite}} </td>
      <td *ngIf="ressource?.typeRessource=='Ressource Humaine'" style = "text-align: right;"><span class="label label-success">{{ressource.typeRessource}}</span></td>
      <td *ngIf="ressource?.typeRessource=='Ressource Matérielle'" style = "text-align: right;"><span class="label label-primary">{{ressource.typeRessource}}</span></td>
       <td *ngIf="ressource?.typeRessource=='Matériaux'" style = "text-align: right;"><span class="label label-primary">{{ressource.typeRessource}}</span></td>
    <!--   <td style = "text-align: right;">{{ressource?.ressourceGroupe?.nom}}</td> -->
     <!--  <td *ngIf="ressource?.ressourceGroupe==null" style = "text-align: right"><span class="label label-primary">Aucune Equipe</span></td> -->
      <td style = "text-align: center;">{{ressource?.dateCreation | date:'dd/MM/yyyy':'':'fr'}}</td>
      <!--<td>{{ressource?.disponibiliteAuPlusTot | date:'dd/MM/yyyy':'':'fr'}}</td>
      <td>{{ressource?.disponibiliteAuPlusTard | date:'dd/MM/yyyy':'':'fr'}}</td>-->
      <td style = "text-align: right;">{{ressource?.quantitePrevue | separateurMille}}</td>
      <!--<td style = "text-align: right;">{{quantiteTotale(ressource?.activiteRessources) | separateurMille}}</td>-->
    </tr>
    </tbody>
  </table>
</div>
<ngx-smart-modal #ressourceModal [identifier]="'modalRessource'" (onOpen)="modalOpen()">
  <h2>{{titreModalRessource}}</h2>
  <app-ressource-add *ngIf="modal" [projet]="projet" [ressource] ="ressource" (retourRessource) ="addNewRessource($event)"></app-ressource-add>
</ngx-smart-modal>
