<div class="row">
  <div class="row" style="height: 40px"></div>
  <div class="col-lg-12 m-b-xs">
    <h2>Activité : {{activite?.libelle}}</h2>
    <br>
    <div class="pull-right">
      <button class="btn btn-primary" (click)="ajouterDecaissement()"> <span class="glyphicon glyphicon-plus"></span> Nouveau décaissement </button>
    </div>
  </div>
</div>

<div class="table-responsive">
  <h3>Listes des décaissements</h3>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Libellé </th>
      <th class="text-center">montant</th>
      <th class="text-center">Date</th>
      <th class="text-center">Pièces</th>
      <th class="text-center" class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="liste-vide" *ngIf="activite?.decaissements?.length == 0" style="text-align:center">
       <td colspan="12">
           <p>Il n'existe aucun élément sur la liste</p>
       </td>
   </tr>
    <tr *ngFor="let decaiss of activite?.decaissements; index as i;" [ngClass]=""
        popover="{{decaiss?.description}}"
        popoverTitle="Description du decaissement"
        triggers="mouseenter:mouseleave">
      <td class="text-center">{{decaiss?.libelle}}</td>
      <td class="text-center">{{decaiss?.montant | separateurMille}} FCFA</td>
      <td class="text-center">{{decaiss?.dateDecaissement | date:'dd/MM/yyyy':'':'fr'}}</td>
      <td class="text-center">
        <ng-container *ngFor="let doc of decaiss?.documents">
          <a (click)="openDocument(doc)">{{doc.nom}}</a> <br>
        </ng-container>
      </td>
      <td class="text-right">
        <div class="btn-group">
          <button style="text-align: right" (click)="onDelete(decaiss)" class="btn-white btn btn-xs">
            <i class="fa fa-trash" style="size: 12px; color:#1ab394"></i>
          </button>
        </div>
      </td>
    </tr>
    <tr class="bg-primary" style="background: #3498DB">
      <td class="text-center"><b>Total</b></td>
      <td class="text-center"><b>{{calculMontantTotal() | separateurMille}} FCFA</b></td>
      <td class="text-center" colspan="3"></td>
    </tr>
    </tbody>
  </table>

</div>

<ngx-smart-modal #decaissementModal [identifier]="'modalDecaissement'" (onOpen)="modalOpen()">
  <h2>{{titreModalDecaissement}}</h2>
  <app-form-decaissement *ngIf="modal" [activite]="activite" [decaissement] ="decaissement" (retourDecaissement) ="addNewDecaissement($event)"></app-form-decaissement>
</ngx-smart-modal>


