<div class="row">
  <div class="row" style="height: 40px">

  </div>
  <div class="col-lg-9 m-b-xs">
    <h2>Activité : {{activite?.libelle}}</h2>
    <div data-toggle="buttons" class="btn-group">
      <label class="btn btn-sm btn-primary" (click)="ajouterSuiviActivite()"> <i class="fa fa-plus-circle" style="size: 15px; color:white"></i>Ajouter une observation </label>
    </div>
  </div>
</div>
<div class="table-responsive">
  <h3>Progressions de l'activité</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Date </th>
      <th class="text-center">Niveau</th>
      <th class="text-center">Observations</th>
      <th class="text-center">Retard</th>
      <th class="text-center" class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let suivi of activite?.suiviActivites; index as i;" >
      <tr [ngClass]="">
        <td class="text-center">{{suivi?.dateSuivi | date:'dd/MM/yyyy':'':'fr'}}</td>
        <td class="text-center">{{suivi?.niveauRealisation}}%</td>
        <td class="text-center">{{suivi?.observation}}</td>
        <td class="text-center">{{suivi?.retard}} jours</td>
        <td class="text-center" class="text-right">
          <div class="btn-group">
            <button style="text-align: right" (click)="onDelete(suivi)" class="btn-white btn btn-xs">
              <i class="fa fa-trash" style="size: 12px; color:#1ab394"></i>
            </button>
          </div>
        </td>
      </tr>
  <!--     <tr *ngIf="suivi?.documents?.length > 0">
        <td colspan="5">
          <carousel>
            <slide *ngFor="let doc of suivi?.documents">
              <img [src]="sourceBase64(doc)" alt="Image de suivi" style="display: block; width: 100%;height: 200px">
              <div class="carousel-caption d-none d-md-block">
                <h3>{{suivi?.dateSuivi | date:'dd MMMM yyyy':'':'fr'}}</h3>
                <p>{{suivi?.observation}}</p>
              </div>
            </slide>
          </carousel>
        </td>
      </tr> -->
    </ng-container>

    </tbody>
  </table>
  <div class="pagination">
    <ul>
      <li><button class="btn btn-primary">Précédent</button></li>
      <li><button class="btn btn-primary">Précédent</button></li>
    </ul>
  </div>

</div>

<ngx-smart-modal #suiviActiviteModal [identifier]="'modalSuiviActivite'" (onOpen)="modalOpen()">
  <h2>{{titreModalSuiviActivite}}</h2>
  <app-form-suivi-activite *ngIf="modal" [activite]="activite" [suiviActivite] ="suiviActivite" (retourSuiviActivite) ="addNewSuiviActivite($event)"></app-form-suivi-activite>
</ngx-smart-modal>


