<div>
  <label class="btn btn-sm btn-white" (click)="ganttChangeScale('jour')"> Jour </label>
  <label class="btn btn-sm btn-white" (click)="ganttChangeScale('semaine')"> Semaine </label>
  <label class="btn btn-sm btn-white"(click)="ganttChangeScale('mois')"> Mois </label>
  <label class="btn btn-sm btn-white"(click)="ganttChangeScale('annee')"> Année </label>
</div>
<div #gantt_here style="width: 100%;" id = "ganttDiv"></div>
<ngx-smart-modal #lotModal [identifier]="'modalLot'">
  <h2>{{titreModalLot}}</h2>
  <app-form-lot [projet]="projet" [lot] ="lot" (retourLot) ="addLot($event)"></app-form-lot>
</ngx-smart-modal>
<ngx-smart-modal #activiteModal [identifier]="'modalActivite'" (onOpen)="showForm()">
  <h1>{{titreModalActivite}}</h1>
  <app-form-activite *ngIf="modalShowActivite" (retourTache)="addActivite($event)" [projet]="projet" [activite]="activite"></app-form-activite>
</ngx-smart-modal>

<ngx-smart-modal #ressourceModal [identifier]="'mod'" [customClass]="'medium-modal'">
  <h1 id="titleModalRessource">Ressources de l'activité</h1>
  <app-ressource-list [activite]="activiteSelected"></app-ressource-list>
</ngx-smart-modal>
