<form [formGroup] = "formSuiviRessource" (ngSubmit)="onSubmit(formSuiviRessource)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label>Date de suivi:</label>
      <owl-date-time
        [placeHolder]="'Date de suivi'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateSuiviRessource'"
        [(ngModel)]="suiviRessource.dateSuivi"
        formControlName="dateSuiviRessource">
      </owl-date-time>
    </div>
    <div class="form-group">
      <label for="quantite">Quantité</label>
      <input type="number" id="quantite" [(ngModel)]="suiviRessource.quantite" formControlName="quantite" class="form-control" placeholder="Quantité de la ressource (*)">
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage?.error?.errorMessage}} {{errorMessage}}
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formSuiviRessource.valid" class="pull-right btn btn-primary" id="ajouter">Valider
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>
</form>
