<form [formGroup] = "formProjet" (ngSubmit)="onSubmit(formProjet.value.typeProjet)">
  <div class="col-lg-12">
        <div class="fom-group">
          <label for="typeProjet">Type de projet (*) : </label>
          <select id="typeProjet"  [(ngModel)]="projet.typeProjet"class="form-control" formControlName="typeProjet" [compareWith]="compareType">
            <option selected value="">Choose...</option>
            <option *ngFor="let type of typeProjet" [ngValue]="type">{{type.libelle}}</option>
          </select>
        </div>
        <div class="form-group" style="margin-top: 5px">
          <label for="nom">Nom du projet (*) : </label>
          <input type="text" id="nom" [(ngModel)]="projet.nom" formControlName="nom" class="form-control" placeholder="Nom du projet (*)">
        </div>
        <div class="form-group">
          <label for="description">Description du projet (*) : </label>
          <textarea class="textarea" id="description" [(ngModel)]="projet.description" formControlName="description" placeholder="Description du projet" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
        </div>
        <div class="form-group" >
          <label for="description">Statut du projet (*) : </label>
          <select class="form-control" formControlName="statutProjet" name="statut" id="" [(ngModel)]="projet.statutProjet" [compareWith]="compareStatut">
            <option value="">Choisir...</option>
            <option *ngFor="let statut of statutProjet" [ngValue]="statut.name">{{statut.name}}</option>
          </select>
        </div>
        <fieldset class="col-lg-12">
          <legend>Dates de démarrage</legend>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="dateDemarragePrevisionnelle">Date de démmarrage prévue:</label>
                    <owl-date-time
                      [dateFormat]="'DD-MM-YYYY HH:mm'"
                      [placeHolder]="'Date de démarrage prévue'"
                      [inputId]="'dateDemarragePrevisionnelle'"
                      [(ngModel)]="projet.dateDemarragePrevisionnelle"
                      formControlName="dateDemarragePrevisionnelle">
                    </owl-date-time>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="projet.id!==undefined">
                    <label for="dateDemarrageReelle">Date de démmarrage réelle:</label>
                    <owl-date-time
                      [dateFormat]="'DD-MM-YYYY HH:mm'"
                      [placeHolder]="'Date de démarrage réelle'"
                      [inputId]="'dateDemarrageReelle'"
                      [(ngModel)]="projet.dateDemarrageReelle"
                      formControlName="dateDemarrageReelle">
                    </owl-date-time>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
        <fieldset class="col-lg-12">
          <legend>Dates de réception</legend>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="dateReceptionPrevisionnelle">Date de réception prévue:</label>
                    <owl-date-time
                      [dateFormat]="'DD-MM-YYYY HH:mm'"
                      [placeHolder]="'Date de réception prévue'"
                      [inputId]="'dateReceptionPrevisionnelle'"
                      [(ngModel)]="projet.dateReceptionPrevisionnelle"
                      formControlName="dateReceptionPrevisionnelle">
                    </owl-date-time>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="projet.id!==undefined">
                    <label for="dateReceptionReelle">Date de réception réelle:</label>
                    <owl-date-time
                      [dateFormat]="'DD-MM-YYYY HH:mm'"
                      [placeHolder]="'Date de réception réelle'"
                      [inputId]="'dateReceptioneReelle'"
                      [(ngModel)]="projet.dateReceptionReelle"
                      formControlName="dateReceptionReelle">
                    </owl-date-time>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>
        <fieldset class="col-lg-12">
          <legend>Date de fin</legend>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group" *ngIf="projet.id!==undefined">
                    <label for="dateFinReelle">Date de fin réelle:</label>
                    <owl-date-time
                      [dateFormat]="'DD-MM-YYYY HH:mm'"
                      [placeHolder]="'Date de fin réelle'"
                      [inputId]="'dateFinReelle'"
                      [(ngModel)]="projet.dateFinRelle"
                      formControlName="dateFinReelle">
                    </owl-date-time>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </fieldset>

        <div class="box-footer clearfix">
          <button type="submit" [disabled]="!formProjet.valid || dateValide()===false" class="pull-right btn btn-primary" id="ajouter">Ajouter
            <i class="fa fa-arrow-circle-right"></i></button>
        </div>
  </div>

</form>

