<div class="wrapper wrapper-content p-xl">
  <div class="ibox-content p-xl">
    <div class="row">
      <div class="col-sm-6">
        <h5>From:</h5>
        <address>
          <strong>Inspinia, Inc.</strong><br>
          106 Jorg Avenu, 600/10<br>
          Chicago, VT 32456<br>
          <abbr title="Phone">P:</abbr> (123) 601-4590
        </address>
        <address>
          <span class="pull-left">{{date | date:'fullDate' }}</span> <br><br><br>
          <strong>{{selectedProjet?.nom}} </strong><br>
          Type de Projet: {{selectedProjet?.typeProjet.libelle}}<br>
          <abbr title="Phone">P:</abbr> {{selectedProjet?.createur.telephone}}<br>
          <abbr title="Email"></abbr> {{selectedProjet?.createur.email}}
        </address>
      </div>
      <div class="col-sm-6 text-right">
        <h4>Invoice No.</h4>
        <h4 class="text-navy">INV-000567F7-00</h4>
        <span>To:</span>
        <address>
          <strong>Corporate, Inc.</strong><br>
          112 Street Avenu, 1080<br>
          Miami, CT 445611<br>
          <abbr title="Phone">P:</abbr> (120) 9000-4321
        </address>
        <p>
          <span><strong>Invoice Date:</strong> Marh 18, 2014</span><br/>
          <span><strong>Due Date:</strong> March 24, 2014</span>
        </p>
      </div>
    </div>
    <div class="table-responsive m-t">
      <table class="table print-table">
        <thead>
        <tr>
          <th>No.</th>
          <th>Désignation </th>
          <th>Description </th>
          <th>Statut </th>
          <th>Date d'Execution Prévisionnelle </th>
          <th>Date de Création </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item2 of detailLots; let i = index">
          <td> {{i+1}} </td>
          <td> <strong>{{item2?.libelle}}</strong></td>
          <td> {{item2?.description}}</td>
          <td> {{item2?.statutLot}} </td>
          <td> {{item2?.dateExecutionPrevisionnelle | date:'fullDate'}} </td>
          <td> {{item2?.dateCreation | date:'fullDate'}} </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive m-t">
      <table class="table invoice-table">
        <thead>
        <tr>
          <th>Item List</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Tax</th>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><div><strong>Admin Theme with psd project layouts</strong></div>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></td>
          <td>1</td>
          <td>$26.00</td>
          <td>$5.98</td>
          <td>$31,98</td>
        </tr>
        <tr>
          <td><div><strong>Wodpress Them customization</strong></div>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </small></td>
          <td>2</td>
          <td>$80.00</td>
          <td>$36.80</td>
          <td>$196.80</td>
        </tr>
        <tr>
          <td><div><strong>Angular JS & Node JS Application</strong></div>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></td>
          <td>3</td>
          <td>$420.00</td>
          <td>$193.20</td>
          <td>$1033.20</td>
        </tr>
        </tbody>
      </table>
    </div><!-- /table-responsive -->
    <table class="table invoice-total">
      <tbody>
      <tr>
        <td><strong>Sub Total :</strong></td>
        <td>$1026.00</td>
      </tr>
      <tr>
        <td><strong>TAX :</strong></td>
        <td>$235.98</td>
      </tr>
      <tr>
        <td><strong>TOTAL :</strong></td>
        <td>$1261.98</td>
      </tr>
      </tbody>
    </table>
    <table border="1">
      <thead>
      <tr>
        <th>Status</th>
        <th>Type of Loss Dollar</th>
        <th>Reserve Amount</th>
        <th>Paid Amount</th>
        <th>Total This Loss</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td rowspan="3">Open</td>
        <td>Medical</td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
        <td rowspan="3">TOTAL</td>
      </tr><tr>
        <td>Indemnity</td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
      </tr><tr>
        <td>Expense</td>
        <td><input type="text" /></td>
        <td><input type="text" /></td>
      </tr>
      </tbody>
    </table>
    <div class="table-responsive m-t">
      <table class="table">
        <thead>
        <tr>
          <th>Désignation </th>
          <th>Description </th>
          <th>Statut </th>
          <th>Date d'Execution Prévisionnelle </th>
          <th>Date de Création </th>
          <th>Nombre de Tâches </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of details">
          <td> <strong>{{item?.lot?.libelle}}</strong></td>
          <td> {{item?.lot?.description}}</td>
          <td> {{item?.lot?.statutLot}} </td>
          <td> {{item?.lot?.dateExecutionPrevisionnelle | date:'fullDate'}} </td>
          <td> {{item?.lot?.dateCreation | date:'fullDate'}} </td>
          <td> {{item?.longueur || 0}} </td>
        </tr>
        </tbody>
      </table>
    </div>
    <table class="table invoice-total">
      <tbody>
      <tr>
        <td><strong>Sub Total :</strong></td>
        <td>$1026.00</td>
      </tr>
      <tr>
        <td><strong>TAX :</strong></td>
        <td>$235.98</td>
      </tr>
      <tr>
        <td><strong>TOTAL :</strong></td>
        <td>$1261.98</td>
      </tr>
      </tbody>
    </table>
    <div class="table-responsive m-t">
      <table class="table">
        <thead>
        <tr>
          <th>Désignation </th>
          <th>Description </th>
          <th>Statut </th>
          <th>Date d'Execution Prévisionnelle </th>
          <th>Date de Création </th>
          <th>Nombre de Tâches </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of details">
          <td> <strong>{{item?.lot?.libelle}}</strong></td>
          <td> {{item?.lot?.description}}</td>
          <td> {{item?.lot?.statutLot}} </td>
          <td> {{item?.lot?.dateExecutionPrevisionnelle | date:'fullDate'}} </td>
          <td> {{item?.lot?.dateCreation | date:'fullDate'}} </td>
          <td> {{item?.longueur || 0}} </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="well m-t"><strong>Comments</strong>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
    </div>
    <div>
      <ul *ngFor="let item of details">
        <li> <strong>{{item?.lot?.libelle}}</strong></li>
        <li> {{item?.lot?.description}}</li>
        <li> {{item?.lot?.statutLot}} </li>
        <li> {{item?.lot?.dateExecutionPrevisionnelle | date:'fullDate'}} </li>
        <li> {{item?.lot?.dateCreation | date:'fullDate'}} </li>
        <li> {{item?.longueur || 0}} </li>
        <li>
          <div class="table-responsive m-t" *ngIf="item.longueur != 0">
            <table class="table">
              <thead>
              <tr>
                <th>Désignation </th>
                <th>Description </th>
                <th>Statut </th>
                <th>Date d'Execution Prévisionnelle </th>
                <th>Date de Création </th>
                <th>Budget </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item2 of item.activites">
                <td> <strong>{{item2?.libelle}}</strong></td>
                <td> {{item2?.description}}</td>
                <td> {{item2?.statutActivite}} </td>
                <td> {{item2?.dateExecutionPrevisionnelle | date:'fullDate'}} </td>
                <td> {{item2?.dateCreation | date:'fullDate'}} </td>
                <td> {{item2?.budget || 0}} </td>
              </tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.print();
</script>
