<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
               <!--  <span class="pull-right text-right">
                <small>
                  <strong>
                    {{projet?.nom}} {{projet?.dateDemarragePrevisionnelle | date:'dd MMMM yyyy':'':'fr' }} - {{projet?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                  </strong>
                </small>
                    <br/>
                </span> -->
              <h1 class="m-b-xs"><b>Détails</b></h1>
              <br>
              <h3 class="font-bold no-margins">
                {{projet?.dateDemarragePrevisionnelle | date:'dd MMMM yyyy':'':'fr' }} - {{projet?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    {{projet?.typeProjet?.libelle}}
                                </span>
                  Type de projet :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.coutTotal || 0}} FCFA
                                </span>
                  Coût total :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateCreation | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de création :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateDemarragePrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de démarrage prévue :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateDemarrageReelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de démarrage réelle :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de fin prévue :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateFinRelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de fin réelle :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateReceptionPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de réception prévue :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.dateReceptionReelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de réception réelle :
                </li>
                 <li class="list-group-item">
                                <span class="pull-right">
                                    {{projet?.description}}
                                </span>
                  Description :
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="stat-list">
                <li>
                  <h2 class="no-margins">Images de chantier</h2>
                </li>
              </ul>
              <br>
              <div class="flot-chart" *ngIf="lotsCharge" style="padding-top: 10px">
                <div id="barChartEvolution">
                  <carousel>
                    <slide>
                      <img src="assets/images/imagesTest/1.jpg" alt="First slide" style="display: block; width: 100%;">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </slide>
                    <slide>
                      <img src="assets/images/imagesTest/2.jpg" alt="Second slide" style="display: block; width: 100%;">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </slide>
                    <slide>
                      <img src="assets/images/imagesTest/3.jpg" alt="Third slide" style="display: block; width: 100%;">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </slide>
                  </carousel>
                </div>
              </div>
            </div>
          </div>
          <br><br><br>
          <!--<div class="row wrapper border-bottom white-bg page-heading">-->
          <div class="row">
            <div class="col-lg-12">
             <!--  <app-my-date-picker (start_dt_selectedChange)="startDateSelectedEvent($event)" (end_dt_selectedChange)="endDateSelectedEvent($event)" ></app-my-date-picker> -->
              <div class="title-action pull-right">
                <a onmouseover="window.status = '';" (click)="printProjet(projet.id)" class="btn btn-primary" formtarget="_blank" id="impression-projet"> <i class="fa fa-print"></i> Print </a>
              </div>
            </div>
          </div>
          <div class="row" id="financement">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Financements du projet</h1>
                </div>
                <div class="ibox-content">
                  <app-table-financement [projet]="projet"></app-table-financement>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="acteur">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Acteurs du projet</h1>
                </div>
                <div class="ibox-content">
                  <app-table-acteur [projet]="projet"></app-table-acteur>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="ressource">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Ressources du projet  </h1>
                </div>
                <div class="ibox-content">
                  <app-table-ressources [projet]="projet"></app-table-ressources>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="contraintes1">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Contraintes du projet - Lots</h1>
                </div>
                <div class="ibox-content">
                  <app-table-contraintes [projet]="projet"></app-table-contraintes>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="contraintes2">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Contraintes du projet - Activités</h1>
                </div>
                <div class="ibox-content">
                  <app-activite-table-contraintes [projet]="projet"></app-activite-table-contraintes>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="lot">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Lots du projet </h1>
                </div>
                <div class="ibox-content">
                  <app-table-lot [projet]="projet"></app-table-lot>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="planning">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Gantt de référence</h1>
                </div>
                <div class="ibox-content" id="containerGantt">
                  <app-gantt id="app-gantt" [tasks]="tasks" [projet]="projet" *ngIf="activitesCharge && projet !==undefined && tasks!==undefined"></app-gantt>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="m-t-md">
            <small class="pull-right">
              <i class="fa fa-clock-o"> </i>
              Update on 16.07.2015
            </small>
            <small>
              <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
            </small>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Map</span>
          <h1 style="font-weight:bold; color: #1ab394;">Géolocalisation</h1>
        </div>
        <div class="ibox-content">
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>
