<form [formGroup] = "formContrainte1" (ngSubmit)="onSubmit(formContrainte1.value)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="libelle">Libellé de la contrainte</label>
      <input type="text" id="libelle" [(ngModel)]="contrainte.libelle" formControlName="libelle" class="form-control" placeholder="Libellé de la contrainte(*)">
    </div>
    <div class="form-group">
      <label for="description">Description de la contrainte: </label>
      <textarea id="description" class="textarea" [(ngModel)]="contrainte.description" formControlName="description" placeholder="Description de la contrainte" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
    <div class="form-group">
      <label for="activite">Activité</label>
      <select id="activite" class="form-control" formControlName="activite" [(ngModel)]="contrainte.activite" [compareWith]="compareActivite">
        <option [ngValue]="null">Choisir une activité</option>
        <ng-container *ngFor="let lot of projet.lots">
          <option *ngFor="let activite of lot.activites" [ngValue]="activite">{{activite.libelle}}</option>
        </ng-container>
      </select>
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formContrainte1.valid" class="pull-right btn btn-primary" id="ajouter">Enregistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>
</form>
