<form [formGroup] = "formSuiviActivite" (ngSubmit)="onSubmit(formSuiviActivite)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="dateSuiviActivite">Date de suivi:</label>
      <owl-date-time
        [placeHolder]="'Date de suivi'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateSuiviActivite'"
        [(ngModel)]="suiviActivite.dateSuivi"
        formControlName="dateSuiviActivite">

      </owl-date-time>
    </div>
    <div class="form-group">
      <label for="niveau">Niveau de réalisation en %</label>
      <input type="number" id="niveau" [(ngModel)]="suiviActivite.niveauRealisation" formControlName="niveauRealisation" class="form-control" placeholder="Niveau de réalisation (*)">

    </div>
    <div class="form-group">
      <label>Observations: </label>
      <textarea class="textarea" [(ngModel)]="suiviActivite.observation" formControlName="observation" placeholder="Observations" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
    <div>
      <label for="image">Ajouter des images</label>
    </div>
    <ng4-files-click (filesSelect)="filesSelect($event)" [configId]="'image-config'">
      <span class="btn bg-primary"><span class="glyphicon glyphicon-plus" id="image"></span></span>
    </ng4-files-click>
    <div class="row" style="margin-bottom: 10px">
      <div class="col-lg-3" *ngFor="let doc of images; index as i;" style="margin-bottom: 10px">
        <button type="button" class="close" aria-label="Close" (click)="removeImage(i)">
          <span aria-hidden="true">&times;</span>
        </button>
        <img src="{{doc.chemin}}" style="width: 100%; height: 50px">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage?.error?.errorMessage}} {{errorMessage}}
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formSuiviActivite.valid" class="pull-right btn btn-primary" id="ajouter">Enrégistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>

</form>
