<div class="ibox-content m-b-sm border-bottom">
  <div class="row">
    <div class="my-calendar form-inline pull-right">
       <div class="form-group" >
        <div class= "datepicker">
          <span class="">Période du </span>
          <owl-date-time
            [inputId]="start_dt"
            [(ngModel)]="start_dt"
            [dateFormat]="'DD-MM-YYYY'"
            [placeHolder]="'Date de début'"
            (onSelect)="getStartDate($event)">
          </owl-date-time>
        </div>
      </div>
      <div class="form-group">
        <div class="datepicker">
          <span class=""> au </span>
          <owl-date-time
            [inputId]="end_dt"
            [(ngModel)]="end_dt"
            [dateFormat]="'DD-MM-YYYY'"
            [placeHolder]="'Date de fin'"
            (onSelect)="getEndDate($event)">
          </owl-date-time>
        </div>
      </div>
    </div>
  </div>
</div>