<div class="row">
  <fieldset class="col-lg-6">
    <legend>Liste des activités</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="text-center">Libellé</th>
                  <th class="text-center" style="width: 40px">TE</th>
                  <th class="text-center">Début</th>
                  <th class="text-center">Fin</th>
                  <th class="text-center" style="width: 80px">Retard</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let activite of activites; index as i;" [ngClass]="etatActivite(activite)"
                    (click)="listeSuiviActivite(activite)" style="cursor: pointer">
                  <td class="text-center">{{activite?.libelle}}</td>
                  <td class="text-center" style="width: 40px">{{activite?.tauxExecutionPhysique || 0}}%</td>
                  <td class="text-center">{{activite?.dateExecutionPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}}</td>
                  <td class="text-center">{{activite?.dateFinPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}}</td>
                  <td class="text-center">{{dernierRetard(activite)}} jours</td>
                  <td *ngIf="i===0"><i class="glyphicon glyphicon-arrow-right iconesuivantsuivi" id="iconesuivantsuivi{{activite.id}}" style="size: 12px; color:#1ab394;"></i></td>
                  <td *ngIf="i!==0"><i class="glyphicon glyphicon-arrow-right iconesuivantsuivi" id="iconesuivantsuivi{{activite.id}}" style="size: 12px; color:#1ab394;display: none"></i></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
  <fieldset class="col-lg-6">
    <legend>Progression de l'activité sélectionnée</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="row">
            <app-table-suivi-activite [activite]="activite"></app-table-suivi-activite>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
</div>


