<div class="row">
  <fieldset class="col-lg-6">
    <legend>Liste des activités</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th rowspan="2" class="text-center" style="vertical-align: middle">Libellé </th>
                  <th rowspan="2" class="text-center" style="vertical-align: middle">Budget</th>
                  <th rowspan="2" class="text-center" style="vertical-align: middle">Exécution</th>
                  <th colspan="2" class="text-center">Décaissement</th>
                </tr>
                <tr>
                  <th class="text-center">sous total</th>
                  <th class="text-center">%</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let activite of activites; index as i;" [ngClass]=""
                    popover="{{activite?.dateExecutionPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}} - {{activite?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}"
                    popoverTitle="Exécution"
                    triggers="mouseenter:mouseleave"
                    (click)="listeDecaissement(activite); listeRessources(activite)" style="cursor: pointer;">
                  <td class="text-center">{{activite?.libelle}}</td>
                  <td class="text-right">{{activite?.budget | separateurMille}} FCFA</td>
                  <td class="text-center">{{activite?.tauxExecutionPhysique}}%</td>
                  <td class="text-right">{{decaissementTotal(activite?.decaissements) | separateurMille}}</td>
                  <td class="text-center">{{(activite?.budget===0)? 0:(decaissementTotal(activite?.decaissements)*100/activite?.budget).toFixed(2)}}</td>
                  <td *ngIf="i===0"><i class="glyphicon glyphicon-arrow-right iconesuivant" id="iconesuivant{{activite.id}}" style="size: 12px; color:#1ab394;"></i></td>
                  <td *ngIf="i!==0"><i class="glyphicon glyphicon-arrow-right iconesuivant" id="iconesuivant{{activite.id}}" style="size: 12px; color:#1ab394;display: none"></i></td>
                </tr>
                <tr class="bg-primary" style="background: #3498DB">
                  <td><b>Totaux</b></td>
                  <td class="text-right"><b>{{budgetTotaux() | separateurMille}} FCFA</b></td>
                  <td></td>
                  <td class="text-right"><b>{{decaissementTotaux() | separateurMille}} F CFA</b></td>
                  <td></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
  <fieldset class="col-lg-6">
    <legend>Détail de l'activité sélectionnée</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="row">
            <app-table-decaissement [activite]="activite"></app-table-decaissement>
          </div>
          <div class="row">
            <app-ressource-list [activite]="activite"></app-ressource-list>
          </div>
        </div>
      </div>
    </div>

  </fieldset>

</div>


