thead th{
  color: #a7b1c2;
  border: 1px solid white;
  /*background: #2F4050;*/
  background: #096BA6;
}

thead th:hover {
  color: #ffffff;
}

fieldset
{
  border: 1px solid #ddd !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}

legend
{
  font-size:14px;
  /*font-weight:bold;*/
  margin-bottom: 0px;
  width: 55%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: #ffffff;
}
