@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);

*{
  box-sizing: border-box;
}
body, html{
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #EEEEEE !important;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
  font-weight: 300;
}
legend{
  border-bottom: 0;
}
fieldset{
  clear:both;
}

.carte{
  height: 25px;
  width: 50px;
}

.bienvenida{
  color: #009587;
  text-align: center;
}
/**/

loginHeader{
  height: 100px;
  background: white;
}

.header{
  background: #009587;
  position: absolute;
  top:0;
  left:0;
  right:0;
  padding: 20px 20px 20px;
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.container .well{
  background-color: #ffffff;
  padding: 19px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  border: 0;
}
.form-group .control-label{
  color: rgba(0, 0, 0, 0.84);
}
body .well .form-control{
  padding: 0;
  float: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #757575;
  height: 28px;
  margin-bottom: 30px;
}

.btn{
  background-color: #009587;
  color: rgba(255, 255, 255, 0.84);
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.84);
  -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none !important;
}
.btn:hover{
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
  background-color: #009587;
  color: rgba(255, 255, 255, 0.84);
}

.loader{
  opacity:0;
  top:0;
  left:50%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  position: absolute;
}

.container .well.login{
  margin-top: 40px;
  padding-top: 80px;
  width:100%;
  position: relative;
}

.bienvenida{
}

.container .well.animate{
  -webkit-animation-name: loadingBall;
  animation-name: loadingBall;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;


}

.animate .well{
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate .loader,
.animate .checkmark.show{
  -webkit-animation-name: zoomInBig;
  animation-name: zoomInBig;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animate .loader.done{
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animate .spinner{
  position: absolute;
  top:0;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-top: 6px solid #009587;
  -webkit-animation-name: loadingCirlce;
  animation-name: loadingCirlce;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.animate .spinner2{
  position: absolute;
  top:0;
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border-top: 7px solid #FFEB3B;
  -webkit-animation-name: loadingCirlce2;
  animation-name: loadingCirlce2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}



@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}



@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}


@-webkit-keyframes loadingCirlce {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes loadingCirlce {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadingCirlce2 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes loadingCirlce2 {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}


@-webkit-keyframes zoomInBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  1%{
    opacity: 1;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@keyframes zoomInBig {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  1%{
    opacity: 1;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

.checkmark { font-family: 'Roboto', sans-serif;position: absolute; top:0; box-shadow: 0 0 10px rgba(0,0,0,0.2); left: 50%; opacity:0;margin-left: -2em; }
.checkmark { font-size: 3em; }
.checkmark { display: inline-block; width: 4em; height: 4em; background-color: #FFF; color: #9e9e9e; box-shadow: 0 0 5px rgba(0,0,0,0.2); border-radius: 2em; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.checkmark > span { display: block; position: relative; width: 2em; height: 2em; -webkit-transition: -webkit-transform 0.5s ease; transition: -webkit-transform 0.5s ease; transition: transform 0.5s ease; transition: transform 0.5s ease, -webkit-transform 0.5s ease; overflow: hidden; margin: 1em; }
.checkmark > span > span { display: block; background-color: #9e9e9e; position: absolute; top: 0; left: 0; width: 2em; height: 2em; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; border: 1px solid transparent; }
.checkmark > span > span { background-color: #e91e63; }
.checkmark > span > span { width: 1em; height: 0.4em; -webkit-transform-origin: 100% 100%; transform-origin: 100% 100%; -webkit-transform: translate(-0.3em,1.4em) rotate(45deg); transform: translate(-0.3em,1.4em) rotate(45deg); }
.checkmark > span > span.s3 { width: 1.8em; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: translate(0.7em,1.4em) rotate(-45deg); transform: translate(0.7em,1.4em) rotate(-45deg); }


