<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	<div style="text-align: center;">
    		<h3><strong>REPUBLIQUE DU SENEGAL</strong></h3>
    		<img src="assets/images/logo/senegal.png" class="carte">
    		<h5><strong>Un Peuple - Un But - Une Foi</strong></h5>
    		<h3><strong>MINISTRE DE L'ENSEIGNEMENT SUPERIEUR, DE LA RECHERCHE ET DE L'INNOVATION</strong></h3>
    		<h1 style="color: #5E2B21;"><strong>Institut Supérieur d'Enseignement Professionel de Diamniadio</strong></h1>
    	</div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <div class="well login">
        <div class="col-sm-12 header">
          <span>Connexion</span>
        </div>
        <div class="col-sm-12 text-center" style="margin-bottom: 20px">
          <img src="assets/images/logo/logo-isep-diamniadio.png" style="width: 150px; height: 70px">
        </div>
        <form [formGroup] = "form" (ngSubmit)="onSubmit(form.value)"  class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <!--<label for="inputUsername" class="col-lg-2 control-label">Login</label>-->
              <div class="col-lg-12">
                <input type="text"  formControlName="username" class="form-control" name="admin_name" id="inputUsername" placeholder="nom d'utilisateur">
              </div>
            </div>
            <div class="form-group">
              <!--<label for="inputPassword" class="col-lg-2 control-label">Password</label>-->
              <div class="col-lg-12">
                <input type="password" formControlName="password" class="form-control" name="admin_password" id="inputPassword" placeholder="mot de passe">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12 text-center text-danger" *ngIf="errorMessage">
                {{errorMessage}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12 text-center">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Entrer</button>
                <br>
                <a href="#"><small>Mot de passe oublié?</small></a>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

