<div class="row">
  <div class="col-lg-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="ajouterFinancement()"> <span class="glyphicon glyphicon-plus"></span> Nouveau financement </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Libellé </th>
      <th>montant</th>
      <th>Date</th>
      <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let finan of projet?.financements; index as i;" [ngClass]=""
        popover="{{finan?.description}}"
        popoverTitle="Description du financement"
        triggers="mouseenter:mouseleave"
        (dblclick) ="onEdit(finan)">
      <td>{{i+1}}</td>
      <td>{{finan?.libelle}}</td>
      <td>{{finan?.montant | separateurMille}} FCFA</td>
      <td>{{finan?.dateFinancement | date:'dd MMMM yyyy':'':'fr'}}</td>
      <td class="text-right">
        <div class="btn-group">
          <button (click)="onEdit(finan)" class="btn-white btn btn-xs">
            <i class="fa fa-pencil-square-o" style="size: 12px; color:#1ab394"></i>
          </button>
          <button style="text-align: right" (click)="onDelete(finan)" class="btn-white btn btn-xs">
            <i class="fa fa-trash" style="size: 12px; color:#1ab394"></i>
          </button>
        </div>
      </td>
    </tr>
    <tr class="bg-primary" style="background: #0080FF">
      <td></td>
      <td><b>Total</b></td>
      <td><b>{{totalFinancement}} FCFA</b></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>

<ngx-smart-modal #financementModal [identifier]="'modalFinancement'" (onOpen)="modalOpen()">
  <h2>{{titreModalFinancement}}</h2>
  <app-form-financement *ngIf="modal" [projet]="projet" [financement] ="financement" (retourFinancement) ="addNewFinancement($event)"></app-form-financement>
</ngx-smart-modal>


