<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Gestion Financière</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Budgets</small></li>
              <li><small>Compatibilité Matérielle</small></li>
              <li><small>Reporting Financier</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Travail Collaboratif</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small><a [routerLink]="['/dashboards/projets']">Projet</a></small></li>
              <li><small>Documents</small></li>
              <li><small>Réseau Social</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Gestion des RH</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Employés</small></li>
              <li><small>Notes de Frais</small></li>
              <li><small>Feuilles de temps</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Portails</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Portail Candidat</small></li>
              <li><small>Portail Etudiant</small></li>
              <li><small>Portail Enseignant</small></li>
              <li><small>Portail Alumni</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Académie</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Admissions - Inscription - Scolarité</small></li>
              <li><small>Enseignement - Aprentissage</small></li>
              <li><small>Immersion des Etudiants</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Ecosystèmes</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Entreprises</small></li>
              <li><small>ISEP</small></li>
              <li><small>Startups et autres</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Cadre de vie</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Résidences</small></li>
              <li><small>Cantine / Restauration</small></li>
              <li><small>Centre Sportif</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Bibliothèque</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Enregistrement et indexation des ressources</small></li>
              <li><small>Gestion des emprunts et des commandes</small></li>
              <li><small>Enregistrement des commentaires des lecteurs</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <a><h1 class="no-margins" style="border-color: #18a689; color: #18a689;"><strong>Supply Chain</strong></h1></a>
          <br>
          <div style="border-left: 2.5px solid #18a689; margin-left: 27px;">
            <ul type="circle" style="list-style: none; padding-left: 15px;">
              <li><small>Stocks</small></li>
              <li><small>Achats</small></li>
              <li><small>Production</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
