<div class="row">
  <div class="row" style="height: 40px">

  </div>
  <div class="col-lg-12 m-b-xs">
    <h2>Ressource : {{ressource?.nom}}</h2>
        <div class="pull-right">
          <button class="btn btn-primary" (click)="ajouterSuiviRessource()"> <span class="glyphicon glyphicon-plus"></span> Nouveau Suivi </button>
        </div>
  </div>
</div>
<div class="table-responsive">
  <h3>Progression de la ressource</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Date </th>
      <th class="text-right">Quantité</th>
      <th class="text-right" class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr class="liste-vide" *ngIf="ressource?.suiviRessources?.length == 0" style="text-align:center;">
      <td colspan="12">
        <p>Il n'existe aucun suivi pour cette ressource</p>
      </td>
    </tr>
      <!-- <ng-container *ngFor="let suivi of ressource?.suiviRessources; index as i;" > -->
      <tr *ngFor="let suivi of ressource?.suiviRessources; index as i;" >
        <td class="text-center">{{suivi?.dateSuivi | date:'dd/MM/yyyy':'':'fr'}}</td>
        <td class="text-right">{{suivi?.quantite}}</td>
        <td class="text-right">
          <div class="btn-group">
            <button style="text-align: right" (click)="onDelete(suivi)" class="btn-white btn btn-xs">
              <i class="fa fa-trash" style="size: 12px; color:#1ab394"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-smart-modal #suiviRessourceModal [identifier]="'modalSuiviRessource'" (onOpen)="modalOpen()">
  <h2>{{titreModalSuiviRessource}}</h2>
  <app-form-suivi-ressource *ngIf="modal" [ressource]="ressource" [suiviRessource] ="suiviRessource" (retourSuiviRessource) ="addNewSuiviRessource($event)"></app-form-suivi-ressource>
</ngx-smart-modal>


