<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-primary pull-right">Terminés</span>
            <h5>Projets</h5>
          </div>
          <div class="ibox-content bg-aqua">
            <h1 class="no-margins">4</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-success pull-right">Nouveaux</span>
            <h5>Projets</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">2</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-warning pull-right">En cours</span>
            <h5>Projets</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">10</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-danger pull-right">Arrêtés</span>
            <h5>Projet</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">8</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h3>Liste des projets </h3>
          </div>
          <div class="ibox-content">
            <app-table-projet [projets]="projets"></app-table-projet>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>

