<div class="container" *ngIf="!errorToken">
  <div class="row">
    <div class="col-lg-4 col-lg-push-4">
      <div class="loader">
        <div class="spinner"></div>
        <div class="spinner2"></div>
      </div>
      <a href="#" class="checkmark">
            <span>
              <span class="s1"></span>
              <span class="s2"></span>
              <span class="s3"></span>
            </span>
      </a>
      <div class="well login">
        <div class="col-lg-12 header"><span>Informations</span> <small>Compléter vos informations avant de vous connecter</small></div>
        <form [formGroup] = "form" (ngSubmit)="onSubmit(form.value)"  class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Prénom</label>
                <input type="text" [(ngModel)]="utilisateur.prenom"  formControlName="prenom" class="form-control" name="prenom" id="inputPrenom" placeholder="Prénom">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Nom</label>
                <input type="text" [(ngModel)]="utilisateur.nom"  formControlName="nom" class="form-control" name="nom" id="inputNom" placeholder="Nom">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Numéro de téléphone</label>
                <input type="text" [(ngModel)]="utilisateur.telephone" formControlName="telephone" class="form-control" name="telephone" id="inputTelephone" placeholder="Numéro de téléphone">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Adresse email</label>
                <input type="text" [(ngModel)]="utilisateur.email" formControlName="email" class="form-control" name="email" id="inputEmail" placeholder="Adresse email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Nom d'utilisateur</label>
                <input type="text" [(ngModel)]="utilisateur.username"  formControlName="username" class="form-control" name="admin_name" id="inputUsername" placeholder="nom d'utilisateur">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Mot de passe</label>
                <input type="password" [(ngModel)]="utilisateur.passwordPlain" formControlName="password" class="form-control" name="password" id="inputPassword" placeholder="mot de passe">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12">
                <label for="">Confirmer le mot de passe</label>
                <input type="password" [(ngModel)]="confirmationMotDepasse" formControlName="confirmationMotDepasse" class="form-control" name="confirmationMotDepasse" id="confirmationMotDepasse" placeholder="mot de passe">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12 alert alert-danger" style="display: none" id="errorMotDepasse">
              </div>
              <div class="col-lg-12 alert alert-danger" style="display: none" id="errorData">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-12 text-center">
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Enregistrer</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="errorToken">
  <div class="row">
    <div class="col-lg-4 col-lg-push-4">
      <div class="loader">
        <div class="spinner"></div>
        <div class="spinner2"></div>
      </div>
      <a href="#" class="checkmark">
            <span>
              <span class="s1"></span>
              <span class="s2"></span>
              <span class="s3"></span>
            </span>
      </a>
      <div class="well login" style="height: 300px">
        <div class="col-lg-12 header"><span>Lien expiré</span></div>
        <div class="col-lg-12">
          Votre lien a expiré. Veuillez cliquer sur le bouton ci-dessous pour obtenir un nouveau lien.
          <div class="col-lg-12 text-center">
            <button id="btnEmail" class="btn btn-info" (click)="formEmail()">Obtenir un autre lien</button>
          </div>
          <form [formGroup] = "formSendEmail" (ngSubmit)="newToken(formSendEmail.value)" class="form-horizontal" style="display: none" id="formEmail">
            <div class="col-lg-12 form-group">
              <label>Mettez votre adresse email.</label>
              <input type="text"  formControlName="email" class="form-control" name="email" id="email" placeholder="Adresse email">
              <button type="submit" [disabled]="!formSendEmail.valid" class="btn btn-primary">Envoyez</button>
              <div class="alert alert-success" style="display: none" id="success">
              </div>
              <div class="alert alert-danger" style="display: none" id="error">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

