<form [formGroup] = "formActivite" (ngSubmit)="onSubmit(formActivite.value)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label>Libellé : </label>
      <input type="text" [(ngModel)]="activite.libelle" formControlName="libelle" class="form-control" placeholder="Libellé de l'activité (*)">

    </div>
    <div class="form-group">
      <label>Budget : </label>
      <input type="text" [(ngModel)]="activite.budget" formControlName="budget" class="form-control" placeholder="Budget de l'activité (*)">

    </div>
    <div class="form-group">
      <label>Description : </label>
      <textarea class="textarea" [(ngModel)]="activite.description" formControlName="description" placeholder="Description de l'activité" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
    <div class="form-group" *ngIf="!hideDate.prevue">
      <label for="dateExecutionPrevisionnelle">Date d'exécution prévue:</label>
      <owl-date-time
        [placeHolder]="'Date d\'exécution prévue'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateExecutionPrevisionnelle'"
        [(ngModel)]="activite.dateExecutionPrevisionnelle"
        formControlName="dateExecutionPrevisionnelle">

      </owl-date-time>
    </div>
    <div class="form-group" *ngIf="!hideDate.reelle">
      <label for="dateExecutionReelle">Date d'exécution réelle:</label>
      <owl-date-time
        [placeHolder]="'Date d\'exécution réelle'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateExecutionReelle'"
        [(ngModel)]="activite.dateExecutionReelle"
        formControlName="dateExecutionReelle">

      </owl-date-time>
    </div>
    <div class="form-group">
      <label>Durée d'éxécution prévue (en jour):</label>
      <input type="number" [(ngModel)]="activite.dureeExecutionPrevisionnelle" formControlName="dureePrevisionnelle" class="form-control" placeholder="Durée d'exécution">
    </div>
    <div class="form-group" >
      <label for="description">Statut de l'activité (*) : </label>
      <select class="form-control" formControlName="statutActivite" name="statut" id="" [(ngModel)]="activite.statutActivite" [compareWith]="compareStatut">
        <option value="">Choisir...</option>
        <option *ngFor="let statut of statutActivite" [ngValue]="statut.name">{{statut.name}}</option>
      </select>
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formActivite.valid ||
                (activite.dateExecutionReelle !== null &&
                activite.dateExecutionReelle !== undefined &&
                activite.dateExecutionPrevisionnelle.getTime() > activite.dateExecutionReelle.getTime())"
              class="pull-right btn btn-primary" id="ajouter">Enrégistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>

</form>
