<div class="row">
  <div class="ibox float-e-margins">
    <div class="ibox-content"></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 m-b-xs">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="assignActiviteToRessource()"> <span class="glyphicon glyphicon-plus"></span> Affecter Une Ressource </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <h3>Liste des ressources </h3>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th class="text-center">Nom </th>
      <th class="text-center">Type </th>
      <th class="text-center">Unité </th>
      <th class="text-center">Date </th>
      <th class="text-right">Quantité </th>
      <th class="text-right">Coût/Unité (F CFA) </th>
    </tr>
    </thead>
    <tbody>
    <tr class="liste-vide" *ngIf="activite?.activiteRessources?.length == 0" style="text-align:center">
       <td colspan="12">
           <p>Il n'existe aucun élément sur la liste</p>
       </td>
   </tr>
    <tr *ngFor="let activiteRessource of activite?.activiteRessources ; index as i;">
      <td>{{i+1}}</td>
      <td style = "text-align: center;">{{activiteRessource?.pk?.ressource.nom}}</td>
      <td style = "text-align: center;">{{activiteRessource?.pk?.ressource.typeRessource}}</td>
      <td style = "text-align: center;">{{activiteRessource?.pk?.ressource.unite}}</td>
      <td style = "text-align: center;">{{activiteRessource?.dateAssignation | date:'dd/MM/yyyy':'':'fr'}}</td>
      <td style = "text-align: right;">{{activiteRessource?.quantite | separateurMille}}</td>
      <td style = "text-align: right;">{{activiteRessource?.coutParUnite | separateurMille}}</td>
      <!-- <td style = "text-align: right">{{activiteRessource?.pk?.ressource.disponibiliteAuPlusTot | date:'dd MMMM yyyy':'':'fr'}}</td>
      <td style = "text-align: right">{{activiteRessource?.pk?.ressource.disponibiliteAuPlusTard | date:'dd MMMM yyyy':'':'fr'}}</td> -->
    </tr>
    </tbody>
  </table>
</div>
<ngx-smart-modal #activiteRessourceModal [identifier]="'modalActiviteRessource'" (onOpen)="modalOpen()">
  <h2>{{titreModalActiviteRessource}}</h2>
  <app-ressource-add-activite *ngIf="modal" [activite]="activite"
                              [activiteRessource] ="activiteRessource"
                              [assignedRessources]="assignedRessources"
                              [ressources]="ressources"
                              (retourActiviteRessource) ="addNewActiviteRessource($event)"></app-ressource-add-activite>
</ngx-smart-modal>
