<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-10">
        <h3>Liste des activités et leurs marges <small class="text-danger">(en rouge les activités critiques)</small></h3>
      </div>
      <div class="form-group col-lg-2">
        <label for="dta">Date de fin au plus tard:</label>
        <owl-date-time
          [placeHolder]="'Date de fin au plus tard'"
          [dateFormat]="'DD MMMM YYYY'"
          [hideClearButton]="true"
          [inputId]="'dta'"
          [(ngModel)]="FTA">

        </owl-date-time>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" *ngIf="chargementFini">
        <thead>
        <tr>
          <th rowspan="2" class="text-center" style="vertical-align: middle">Libellé </th>
          <th rowspan="2" class="text-center" style="vertical-align: middle">Durée</th>
          <th colspan="2" class="text-center">Début</th>
          <th colspan="2" class="text-center">Fin</th>
          <th rowspan="2" class="text-center" style="vertical-align: middle">MT</th>
          <th rowspan="2" class="text-center" style="vertical-align: middle">ML</th>
        </tr>
        <tr>
          <th class="text-center">Plus tôt</th>
          <th class="text-center">Plus tard</th>
          <th class="text-center">Plus tôt</th>
          <th class="text-center">Plus tard</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let activite of activites; index as i;" [ngClass]="iscritique(activite)">
          <td class="text-center">{{activite?.libelle}}</td>
          <td class="text-center">{{activite?.dureeExecutionPrevisionnelle }} jours</td>
          <td class="text-center">{{activite?.dateExecutionPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}}</td>
          <td class="text-center">{{dateDTA(activite) | date:'dd/MM/yyyy':'':'fr'}}</td>
          <td class="text-center">{{activite?.dateFinPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}}</td>
          <td class="text-center">{{dateFTA(activite) | date:'dd/MM/yyyy':'':'fr'}}</td>
          <td class="text-center">{{margeTotale(activite)}} jours</td>
          <td class="text-center">{{margeLibre(activite)}} jours</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


