<form [formGroup] = "formActiviteRessource" (ngSubmit)="onSubmit(formActiviteRessource)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="ressource">Ressource : </label>
      <select id="ressource"
              [(ngModel)]="ressource"
              class="form-control"
              formControlName="ressource">
        <option [ngValue]="''">Choisir...</option>
        <option *ngFor="let ressource of ressources"
                [ngValue]="ressource">
          {{ressource.nom}}
        </option>
      </select>
      <div class="m-t-xs">
        <small class="text-danger" *ngIf="error">{{error}}</small>
      </div>
    </div>
    <div class="form-group">
      <label for="quantite">Quantité: </label>
      <input type="number" id="quantite" [(ngModel)]="activiteRessource.quantite" formControlName="quantite" class="form-control" placeholder="Quantité de la ressource pour cette activité (*)">
    </div>
    <div class="form-group">
      <label for="coutParUnite">Coût/Unité (F CFA): </label>
      <input type="number" id="coutParUnite" [(ngModel)]="activiteRessource.coutParUnite" formControlName="coutParUnite" class="form-control" placeholder="Coût par Unité (*)">
    </div>
    <div class="form-group">
      <label for="roleDansLaTache">Rôle: </label>
      <input type="text" id="roleDansLaTache" [(ngModel)]="activiteRessource.roleDansLaTache" formControlName="roleDansLaTache" class="form-control" placeholder="Son rôle dans cette activité">
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formActiviteRessource.valid"
              class="pull-right btn btn-primary" id="ajouter">Valider
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>
</form>
