<div class="row">
  <div class="col-lg-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="AjouterActeur()"> <span class="glyphicon glyphicon-plus"></span> Nouveau acteur </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Prénom </th>
      <th>Nom</th>
      <th>Téléphone</th>
      <th>Email</th>
      <th>Organisation</th>
      <th>Rôle</th>
      <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let up of projet?.utilisateurProjets; index as i;" [ngClass]=""
          (dblclick) ="onEdit(up)">
      <td>{{i+1}}</td>
      <td>{{up?.pk?.utilisateur?.prenom}}</td>
      <td>{{up?.pk?.utilisateur?.nom}}</td>
      <td>{{up?.pk?.utilisateur?.telephone}}</td>
      <td>{{up?.pk?.utilisateur?.email}}</td>
      <td>{{up?.pk?.utilisateur?.organisation?.raisonSociale}}</td>
      <td>{{up?.role}}</td>
      <td class="text-right">
        <div class="btn-group">
          <button style="text-align: right" (click)="onDelete(up)" class="btn-white btn btn-xs">
            <i class="fa fa-trash" style="size: 15px; color:#1ab394"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<ngx-smart-modal #acteurModal [identifier]="'modalActeur'">
  <h2>{{titreModalActeur}}</h2>
  <form [formGroup] = "formActeur" (ngSubmit)="onSubmit(formActeur.value)">
    <div class="col-lg-12 col-xs-12">
      <div class="form-group">
        <label for="email">Email de l'acteur</label>
        <input type="text" id="email" [(ngModel)]="utilisateur.email" formControlName="acteurEmail" class="form-control" placeholder="Email de l'acteur (*)">
      </div>
      <div class="form-group">
        <label for="organisation">Organisation de l'acteur</label>
        <select id="organisation" [compareWith]="equals" [(ngModel)]="utilisateur.organisation" class="form-control" formControlName="organisation">
          <option [ngValue]="null">Choisir...</option>
          <option *ngFor="let org of organisations" [ngValue]="org">{{org.raisonSociale}}</option>
        </select>
            Ou

        <br>
        <label class="btn btn-sm btn-info" (click)="ajouterOrganisation()" id="ajoutorganisation"> <i class="fa fa-plus-circle" style="size: 15px; color:white"></i>Ajouter une nouvelle organisation </label>
        <label class="btn btn-sm btn-danger" (click)="supprimerOrganisation()" id="supprimeorganisation" style="display: none"> <i class="fa fa-trash" style="size: 15px; color:white"></i>Supprimer l'organisation </label>
      </div>
      <div class="form-group">
        <label for="role">Rôle de l'acteur</label>
        <select id="role" class="form-control" formControlName="role">
          <option [ngValue]="''">Choisir...</option>
          <option *ngFor="let role of roles" [ngValue]="role.name">{{role.name}}</option>
        </select>
      </div>
      <div class="alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="box-footer clearfix">
        <button type="submit" [disabled]="!formActeur.valid" class="pull-right btn btn-primary" id="ajouter">Valider
          <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>

  </form>
</ngx-smart-modal>

<ngx-smart-modal #organisationModal [identifier]="'modalOrganisation'">
  <h2>{{titreModalOrganisation}}</h2>
  <app-form-organisation [organisation]="organisation" (retourOrganisation)="addNewOrganisation($event)"></app-form-organisation>
</ngx-smart-modal>


