<form [formGroup] = "formOrganisation" (ngSubmit)="onSubmit(formOrganisation)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="raisonSociale">Nom ou raison sociale de l'organisation</label>
      <input type="text" id="raisonSociale" [(ngModel)]="organisation.raisonSociale" formControlName="raisonSociale" class="form-control" placeholder="Nom ou raison sociale de l'organisation (*)">

    </div>
    <div class="form-group">
      <label for="adresse">Adresse de l'organisation</label>
      <input type="text" id="adresse" [(ngModel)]="organisation.adresse" formControlName="adresse" class="form-control" placeholder="Adresse de l'organisation">

    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formOrganisation.valid" class="pull-right btn btn-primary" id="ajouter">Enrégistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>

</form>
