<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
                <span class="pull-right text-right">
                <small><strong>{{lot?.description}}</strong></small>
                    <br/>
                </span>
              <h1 class="m-b-xs"><b>{{lot?.libelle}}</b></h1>
              <br>
              <h3 class="font-bold no-margins">
                {{lot?.dateExecutionPrevisionnelle | date:'dd MMMM yyyy':'':'fr' }} - {{lot?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <ul class="stat-list">
                <li>
                  <h2 class="no-margins">Images du lot</h2>
                </li>
              </ul>
              <br>
              <div class="flot-chart" *ngIf="lotsCharge" style="padding-top: 10px">
                <div id="barChartEvolution">
                  <carousel>
                    <slide>
                      <img src="assets/images/imagesTest/1.jpg" alt="First slide" style="display: block; width: 100%;">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div>
                    </slide>
                    <slide>
                      <img src="assets/images/imagesTest/2.jpg" alt="Second slide" style="display: block; width: 100%;">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Second slide label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </slide>
                    <slide>
                      <img src="assets/images/imagesTest/3.jpg" alt="Third slide" style="display: block; width: 100%;">
                      <div class="carousel-caption d-none d-md-block">
                        <h3>Third slide label</h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                      </div>
                    </slide>
                  </carousel>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    {{lot?.budget || 0}} FCFA
                                </span>
                  Budget du Lot :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{lot?.dateCreation | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de création :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{lot?.dateExecutionPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de démarrage prévue :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{lot?.dateExecutionReelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de démarrage réelle :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{lot?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de fin prévue :
                </li>
                <li class="list-group-item">
                                <span class="pull-right">
                                    {{lot?.dateFinReelle | date:'dd MMMM yyyy':'':'fr'}}
                                </span>
                  Date de fin réelle :
                </li>
              </ul>
            </div>
          </div>
        <!--  <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-4 pull-right">
              <div class="title-action">
                <a onmouseover="window.status = '';" [routerLink]="['/imprimer-lot']" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Imprimer </a>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Organisations affectées au lot </h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-right">
                <button class="btn btn-primary" (click)="assignLotToOrganisation()"> <span class="glyphicon glyphicon-plus"></span> Affecter à une Organisation </button>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Raison Sociale </th>
                <th>Email </th>
                <th>Adresse </th>
                <th>Téléphone </th>
                <th class="text-right">Date de Début d'Attribution </th>
                <th class="text-right">Date de Fin d'Attribution </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let lotOrganisation of lot?.lotOrganisations ; index as i;">
                <td>{{i+1}}</td>
                <td>{{lotOrganisation?.pk?.organisation?.raisonSociale}}</td>
                <td>{{lotOrganisation?.pk?.organisation?.email}}</td>
                <td>{{lotOrganisation?.pk?.organisation?.adresse}}</td>
                <td>{{lotOrganisation?.pk?.organisation?.telephone}}</td>
                <td style = "text-align: right">{{lotOrganisation?.dateDebutAttribution | date:'dd MMMM yyyy':'':'fr'}}</td>
                <td style = "text-align: right">{{lotOrganisation?.dateFinAttribution | date:'dd MMMM yyyy':'':'fr'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Activités du lot </h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control">
                <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                      </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Libellé </th>
                <th>Tâche </th>
                <th class="text-right">Date de Création </th>
                <th class="text-right">Date d'Execution Prévisionnelle </th>
                <th class="text-right">Date de Fin Prévisionnelle </th>
                <th class="text-right">Date d'Execution Réelle </th>
                <th class="text-right">Budget </th>
                <th class="text-right">Progression </th>
                <th>Statut</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let activite of lot?.activites ; index as i;">
                <td>{{i+1}}</td>
                <td>{{activite?.libelle}}</td>
                <td>{{activite?.activiteParent?.libelle}}</td>
                <td style = "text-align: right">{{activite?.dateCreation | date:'dd MMMM yyyy':'':'fr'}}</td>
                <td style = "text-align: right">{{activite?.dateExecutionPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}</td>
                <td style = "text-align: right">{{activite?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}</td>
                <td style = "text-align: right">{{activite?.dateExecutionReelle | date:'dd MMMM yyyy':'':'fr'}}</td>
                <td style = "text-align: right">{{activite?.budget || 0}}  F CFA</td>
                <td style = "text-align: right">{{activite?.tauxExecutionPhysique}}</td>
                <td *ngIf="activite?.statutActivite=='Nouveau'"><span class="label label-success">{{activite.statutActivite}}</span></td>
                <td *ngIf="activite?.statutActivite=='En cours'"><span class="label label-warning">{{activite.statutActivite}}</span></td>
                <td *ngIf="activite?.statutActivite=='Terminé'"><span class="label label-primary">{{activite.statutActivite}}</span></td>
                <td *ngIf="activite?.statutActivite=='Arrêté'"><span class="label label-danger">{{activite.statutActivite}}</span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Contraintes du lot </h5>
          <iboxtools></iboxtools>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>#</th>
                <th>Libellé </th>
                <th>Description </th>
                <th class="text-right">Date de Création </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let contrainte of lot?.contraintes ; index as i;">
                <td>{{i+1}}</td>
                <td>{{contrainte?.libelle}}</td>
                <td>{{contrainte?.description}}</td>
                <td style = "text-align: right">{{activite?.dateCreation | date:'dd MMMM yyyy':'':'fr'}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-smart-modal #lotOrganisationModal [identifier]="'modalLotOrganisation'" (onOpen)="modalOpen()">
    <h2>{{titreModalLotOrganisation}}</h2>
    <app-lot-add-organisation *ngIf="modal" [lot] ="lot"
                              [lotOrganisation]="lotOrganisation"
                              [organisations]="organisations"
                              [assignedOrganisations]="assignedOrganisations"
                              (retourLotOrganisation) ="addNewLotOrganisation($event)"></app-lot-add-organisation>
  </ngx-smart-modal>
</div>
