<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-12">
                                        <span class="pull-right text-right">
                                        <h3 class="font-bold no-margins">
                                        <!-- {{projet?.nom}}  -->{{projet?.dateDemarragePrevisionnelle | date:'dd MMMM yyyy':'':'fr' }} - {{projet?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}
                                        </h3>
                                            <br/>

                                        </span>

              <h1 class="m-b-xs"><b>Suivi</b></h1>
              <br>
              <br>
            </div>
          </div>

          <div class="row" id="decaissement">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Situation financière du projet</h1>
                </div>
                <div class="ibox-content">
                  <app-table-situation-finance [activites]="activites"></app-table-situation-finance>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="datemarge">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Dates et marges du planning</h1>
                </div>
                <div class="ibox-content">
                  <app-table-marge [activites]="activites"></app-table-marge>
                </div>
              </div>
            </div>

          </div>

          <div class="row" id="progressionactivite">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Progression des activités</h1>
                </div>
                <div class="ibox-content">
                  <app-table-progression-activite [activites]="activites"></app-table-progression-activite>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="progressionressource">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="ibox-title titre">
                  <h1>Progression des ressources</h1>
                </div>
                <div class="ibox-content">
                  <app-liste-ressources [ressources]="ressources"></app-liste-ressources>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
