<div class="row">
  <div class="col-lg-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="addConstraints()"> <span class="glyphicon glyphicon-plus"></span> Nouvelle contrainte </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Libellé </th>
      <th>Activité</th>
      <th>Date</th>
      <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let lot of projet?.lots">
      <ng-container *ngFor="let activite of lot.activites">
        <tr *ngFor="let contrainte of activite?.contraintes; index as i;" [ngClass]=""
            popover="{{contrainte?.description}}"
            popoverTitle="Description du financement"
            triggers="mouseenter:mouseleave"
            (dblclick) ="onEdit(contrainte)">
          <td>{{contrainte?.libelle}}</td>
          <td>{{contrainte?.activite.libelle}}</td>
          <td>{{contrainte?.dateCreation | date:'dd MMMM yyyy':'':'fr'}}</td>
          <td class="text-right">
            <div class="btn-group">
              <button (click)="onEdit(contrainte)" class="btn-white btn btn-xs">
                <i class="fa fa-pencil-square-o" style="size: 12px; color:#1ab394"></i>
              </button>
              <button style="text-align: right" (click)="onDelete(contrainte)" class="btn-white btn btn-xs">
                <i class="fa fa-trash" style="size: 12px; color:#1ab394"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
</div>
<ngx-smart-modal #contrainteModal [identifier]="'modalContrainte2'" (onOpen)="modalOpen()">
  <h2>{{titreModalContrainte}}</h2>
  <app-activite-form-contrainte *ngIf="modal" [projet]="projet" [contrainte] ="contrainte" (retourContrainte)="addNew($event)"></app-activite-form-contrainte>
</ngx-smart-modal>



