<form [formGroup] = "formLot" (ngSubmit)="onSubmit(formLot)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="libelle">Libellé du lot</label>
      <input type="text" id="libelle" [(ngModel)]="lot.libelle" formControlName="libelle" class="form-control" placeholder="Libellé du lot (*)">
    </div>
    <div>
      <label for="description">Description du lot</label>
      <textarea class="textarea" id="description" [(ngModel)]="lot.description" formControlName="description" placeholder="Description du lot" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formLot.valid" class="pull-right btn btn-primary" id="ajouter">Enregistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>

</form>
