<form [formGroup] = "formDecaissement" (ngSubmit)="onSubmit(formDecaissement)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="libelle">Libellé du decaissement</label>
      <input type="text" id="libelle" [(ngModel)]="decaissement.libelle" formControlName="libelle" class="form-control" placeholder="Libellé du decaissement (*)">

    </div>
    <div class="form-group">
      <label>Description du decaissement: </label>
      <textarea class="textarea" [(ngModel)]="decaissement.description" formControlName="description" placeholder="Description du decaissement" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>

    <div class="form-group">
      <label for="montant">Montant du decaissement</label>
      <input type="text" id="montant" [(ngModel)]="decaissement.montant" formControlName="montant" class="form-control" placeholder="Montant du decaissement (*)">

    </div>
    <div class="form-group">
      <label for="dateDecaissement">Date de decaissement:</label>
      <owl-date-time
        [placeHolder]="'Date de decaissement'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateDecaissement'"
        [(ngModel)]="decaissement.dateDecaissement"
        formControlName="dateDecaissement">

      </owl-date-time>
    </div>
    <div>
      <label for="image">Ajouter des pièces justificatives</label>
    </div>
    <ng4-files-click (filesSelect)="filesSelect($event)" [configId]="'document-config'">
      <span class="btn bg-primary"><span class="glyphicon glyphicon-plus" id="image"></span></span>
    </ng4-files-click>
    <div class="row" style="margin-bottom: 10px">
      <div class="col-lg-3" *ngFor="let doc of documents; index as i;" style="margin-bottom: 10px">
        <button type="button" class="close" aria-label="Close" (click)="removeImage(i)">
          <span aria-hidden="true">&times;</span>
        </button>
        {{doc.nom}}
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="errorFile">
      {{errorFile}}
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formDecaissement.valid || documents.length==0" class="pull-right btn btn-primary" id="ajouter">Enrégistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>

</form>
