<div class="row">
  <fieldset class="col-lg-6">
    <legend>Ressources du projet</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="row">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Désignation </th>
                  <th>Unité </th>
                  <th class="text-right">Type </th>
                  <th class="text-right">Quantité Prévue</th>
                  <th class="text-right">Quantité Suivie</th>
                </tr>
                </thead>
                <tbody>
                <tr class="liste-vide" *ngIf="ressources?.length == 0" style="text-align:center;">
                  <td colspan="12">
                    <p>Il n'existe aucun élément sur la liste</p>
                  </td>
                </tr>
                <tr *ngFor="let ressource of ressources ; index as i;" [ngClass]=""
                    popover="{{ressource?.nom}}"
                    popoverTitle="Nom de la ressource"
                    triggers="mouseenter:mouseleave"
                    (click)="listeSuiviRessources(ressource)" style="cursor: pointer;">
                  <td>{{i+1}}</td>
                  <td>{{ressource?.nom}}</td>
                  <td>{{ressource?.unite}} </td>
                  <td *ngIf="ressource?.typeRessource=='Ressource Humaine'" style = "text-align: right;"><span class="label label-success">{{ressource.typeRessource}}</span></td>
                  <td *ngIf="ressource?.typeRessource=='Ressource Matérielle'" style = "text-align: right;"><span class="label label-primary">{{ressource.typeRessource}}</span></td>
                  <td *ngIf="ressource?.typeRessource=='Matériaux'" style = "text-align: right;"><span class="label label-primary">{{ressource.typeRessource}}</span></td>
                  <td style = "text-align: right;">{{ressource?.quantitePrevue | separateurMille}}</td>
                  <td style = "text-align: right;">{{derniereQuantiteSuivi(ressource) | separateurMille}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="col-lg-6">
    <legend>Progression de la ressource</legend>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="row">
            <app-table-suivi-ressource [ressource]="ressource"></app-table-suivi-ressource>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>


