<div class="wrapper wrapper-content p-xl">
  <div class="ibox-content p-xl">
    <div class="row">
      <div class="col-sm-4">
        <address>
          <strong>{{projet?.createur.organisation.raisonSociale}}</strong><br>
          <i class="text-navy fa fa-map-marker" style="margin-right: 1em;"></i>  {{projet?.createur.organisation.adresse}}<br>
          <i class="text-navy fa fa-globe" style="margin-right: 1em;"></i> {{projet?.createur.organisation.siteWeb}}<br>
          <i class="text-navy fa fa-phone" style="margin-right: 1em;"></i> {{projet?.createur.organisation.telephone}}<br>
          <i class="text-navy fa fa-at" style="margin-right: 1em;"></i> {{projet?.createur.organisation.email}}<br>
        </address>
      </div>
      <div class="col-sm-4 text-center">
        <address class="text-navy">
          <h2><strong>Chantier {{projet?.nom}}</strong></h2>
        </address>
        <hr>
        <address>
          <strong>Rapport hebdomadaire d'activités</strong>
        </address>
        <hr>
        <address *ngIf="startDateSelected != null && endDateSelected != null ">
          Du  {{startDateSelected | date}}
           au  {{endDateSelected | date}}
        </address>
        <br><br>
      </div>
      <div class="col-sm-4 text-right">
        <h4>Rapport No.</h4>
        <h4 class="text-navy">INV-000567F7-00</h4>
        <br>
        <address>
          <strong>Générale d'Entreprises, Inc.</strong><br>
          Dakar Almadies, Lot 112, villa 104 <i class="text-navy fa fa-map-marker" style="margin-left: 1em;"></i><br>
          (221) 33-845-64-32 <i class="text-navy fa fa-phone" style="margin-left: 1em;"></i><br>
          contact@ge-consulting.org <i class="text-navy fa fa-at" style="margin-left: 1em;"></i><br>
        </address>
      </div>
    </div>
    <div class="row">
      <app-my-date-picker (start_dt_selectedChange)="startDateSelectedEvent($event)" (end_dt_selectedChange)="endDateSelectedEvent($event)" ></app-my-date-picker>
    </div>
    <br><br>
    <div class="row">
      <h3><strong style="text-decoration: underline;">SOMMAIRE</strong></h3><br>
      <div>
        <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: upper-roman; ">
          <h3><strong><li>Moyens humains</li></strong></h3>
          <h3><strong><li>Matériel et matériaux</li></strong></h3>
          <h3><strong><li>Avancement des travaux et prévisions</li></strong></h3>
          <h3><strong><li>Annexes photos</li></strong></h3>
        </ol>
      </div>
    </div>
    <br><br><br>
     <div class="row">
            <div class="col-lg-12">
              <div class="ibox">
                <div class="titre">
               <!--  <div class="ibox-title titre"> -->
                  <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: upper-roman; ">
                    <h3><strong><li *ngIf="ressources?.length > 0">MOYENS HUMAINS</li></strong></h3>
                    <div class="ibox-content" *ngIf="ressources?.length > 0">
                      <div class="table-responsive m-t" *ngIf="ressources?.length > 0">
                        <table class="table print-table">
                          <thead>
                          <tr>
                            <th class="text-left">DESIGNATION </th>
                            <th class="text-center">UNITE </th>
                            <th class="text-right">EFFECTIF <br> {{startDateSelected | date }} </th>
                            <th class="text-right">EFFECTIF <br> {{endDateSelected | date }} </th>
                          </tr>
                          </thead>
                          <tbody *ngFor="let item of ressources">
                          <tr *ngIf="item?.suivi?.ressource?.typeRessource=='Ressource Humaine'">
                            <td style = "text-align: left;"> <strong>{{item?.suivi?.ressource?.nom}}</strong></td>
                            <td style = "text-align: center;"> {{item?.suivi?.ressource?.unite}} </td>
                            <td style = "text-align: right;" *ngIf="item?.startQuantite !== 0"> {{item?.startQuantite}} </td>
                            <td style = "text-align: right;" *ngIf="item?.startQuantite === 0">-</td>
                            <td style = "text-align: right;" *ngIf="item?.endQuantite !== 0"> {{item?.endQuantite}} </td>
                            <td style = "text-align: right;" *ngIf="item?.endQuantite === 0">-</td>
                          </tr>
                          </tbody>
                          <tr>
                            <th colspan="2">Total</th>
                            <td style = "text-align: right;">{{startBudgetTotauxHumains()}}</td>
                            <td style = "text-align: right;">{{endBudgetTotauxHumains()}}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <h3><strong><li *ngIf="ressources?.length > 0">MATERIEL ET MATERIAUX</li></strong></h3>
                    <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: lower-alpha; ">
                      <h3><strong><li *ngIf="ressources?.length > 0">Matériel</li></strong></h3>
                      <div class="ibox-content" *ngIf="ressources?.length > 0">
                        <div class="table-responsive m-t" *ngIf="ressources?.length > 0">
                          <table class="table print-table">
                             <thead>
                              <tr>
                                <th class="text-left">DESIGNATION </th>
                                <th class="text-center">UNITE </th>
                                <th class="text-right">QUANTITE <br> {{startDateSelected | date }} </th>
                                <th class="text-right">QUANTITE <br> {{endDateSelected | date }} </th>
                              </tr>
                              </thead>
                              <tbody *ngFor="let item of ressources">
                                <tr *ngIf="item?.suivi?.ressource?.typeRessource=='Ressource Matérielle'">
                                  <td style = "text-align: left;"> <strong>{{item?.suivi?.ressource?.nom}}</strong></td>
                                  <td style = "text-align: center;"> {{item?.suivi?.ressource?.unite}} </td>
                                  <td style = "text-align: right;" *ngIf="item?.startQuantite !== 0"> {{item?.startQuantite}} </td>
                                  <td style = "text-align: right;" *ngIf="item?.startQuantite === 0">-</td>
                                  <td style = "text-align: right;" *ngIf="item?.endQuantite !== 0"> {{item?.endQuantite}} </td>
                                  <td style = "text-align: right;" *ngIf="item?.endQuantite === 0">-</td>
                                </tr>
                              </tbody>
                              <tr>
                                <th colspan="2">Total</th>
                                <td style = "text-align: right;">{{startBudgetTotauxMateriel()}}</td>
                                <td style = "text-align: right;">{{endBudgetTotauxMateriel()}}</td>
                              </tr>
                          </table>
                        </div>
                      </div>
                      <h3><strong><li *ngIf="ressources?.length > 0">Matériaux</li></strong></h3>
                      <div class="ibox-content" *ngIf="ressources?.length > 0">
                        <div class="table-responsive m-t" *ngIf="ressources?.length > 0">
                          <table class="table print-table">
                            <thead>
                              <tr>
                                <th class="text-left">DESIGNATION </th>
                                <th class="text-center">UNITE </th>
                                <th class="text-right">QUANTITE <br> {{startDateSelected | date }} </th>
                                <th class="text-right">QUANTITE <br> {{endDateSelected | date }} </th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let item of ressources">
                              <tr *ngIf="item?.suivi?.ressource?.typeRessource=='Matériaux'">
                                <td style = "text-align: left;"> <strong>{{item?.suivi?.ressource?.nom}}</strong></td>
                                <td style = "text-align: center;"> {{item?.suivi?.ressource?.unite}} </td>
                                <td style = "text-align: right;" *ngIf="item?.startQuantite !== 0"> {{item?.startQuantite}} </td>
                                <td style = "text-align: right;" *ngIf="item?.startQuantite === 0">-</td>
                                <td style = "text-align: right;" *ngIf="item?.endQuantite !== 0"> {{item?.endQuantite}} </td>
                                <td style = "text-align: right;" *ngIf="item?.endQuantite === 0">-</td>
                              </tr>
                            </tbody>
                            <tr>
                              <th colspan="2">Total</th>
                              <td style = "text-align: right;">{{startBudgetTotauxMateriaux()}}</td>
                              <td style = "text-align: right;">{{endBudgetTotauxMateriaux()}}</td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </ol>
                    <h3><strong><li *ngIf="allActivites?.length > 0">AVANCEMENT DES TRAVAUX ET PREVISIONS</li></strong></h3><br>
                       <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: none; ">
                          <li *ngFor="let lot of projet?.lots; index as i;">
                            <!--{{element?.suivi?.activite?.libelle}} ( {{element?.suivi?.activite?.dateExecutionPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}} - {{element?.suivi?.activite?.dateFinPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}}  ) <br>-->
                            <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: none; ">
                              <li *ngFor="let activite of lot?.activites">
                                 <div class="table-responsive" *ngIf="allActivites?.length > 0 && activite?.suiviActivites?.length > 0">
                                    {{i}}. {{lot?.libelle}}
                                    <table class="table table-striped">
                                      <thead>
                                      <tr>
                                        <th class="text-center">ITEM </th>
                                        <th class="text-right">EXECUTION <br> {{startDateSelected | date }} </th>
                                        <th class="text-right">EXECUTION <br> {{endDateSelected | date }} </th>
                                        <!--<th class="text-center">Observations</th>-->
                                      </tr>
                                      </thead>
                                      <tbody *ngFor="let element of allActivites" >
                                        <tr *ngIf="element?.suivi?.activite?.lot?.id === lot.id && element?.suivi?.activite?.id === activite.id">
                                          <td style = "text-align: center;"> <strong>{{element?.suivi?.activite?.libelle}}</strong></td>
                                          <td style = "text-align: right;"> {{element?.startNiveauRealisation}} </td>
                                          <td style = "text-align: right;"> {{element?.endNiveauRealisation}} </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                              </li>
                            </ol>
                          </li>
                        <br>
                      </ol>
             <!--       <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: decimal; ">
                      <h3>
                        <li *ngFor="let lot of projet?.lots">
                          <div>
                            {{lot?.libelle}}
                          </div>
                          <ol style="margin-bottom: 3px; margin-right: 7em; list-style-type: lower-alpha; ">
                            <li *ngFor="let activite of lot?.activites">
                              {{activite?.libelle}} ( {{activite?.dateExecutionPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}} - {{activite?.dateFinPrevisionnelle | date:'dd/MM/yyyy':'':'fr'}}  ) <br>
                              <div class="table-responsive">
                                <br>
                                <table class="table table-striped">
                                  <thead>
                                  <tr>
                                    <th class="text-center">Date </th>
                                    <th class="text-right">Exécution</th>
                                    <th class="text-right">Retard</th>
                                    <th class="text-center">Observations</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr class="liste-vide" *ngIf="activite?.suiviActivites?.length == 0" style="text-align:center;">
                                    <td colspan="12">
                                      <p>Il n'existe aucun suivi pour cette activité</p>
                                    </td>
                                  </tr>
                                  <ng-container *ngFor="let suivi of activite?.suiviActivites; index as i;" >
                                    <tr [ngClass]="">
                                      <td class="text-center">{{suivi?.dateSuivi | date:'dd/MM/yyyy':'':'fr'}}</td>
                                      <td class="text-right">{{suivi?.niveauRealisation}}%</td>
                                      <td class="text-right">{{suivi?.retard}} jrs</td>
                                      <td class="text-center">{{suivi?.observation}}</td>
                                    </tr>
                                  </ng-container>
                                  <br><br>
                                  </tbody>
                                </table>
                              </div>
                            </li>
                            <br>
                          </ol>
                        </li>
                      </h3>
                    </ol>-->
                    <br>
                    <h3><strong><li *ngIf="ressources?.length > 0">ANNEXES PHOTOS</li></strong></h3>
                    <div>
                        <div *ngFor="let lot of projet?.lots">
                            <div *ngFor="let activite of lot?.activites">
                              <div *ngFor="let suivi of activite?.suiviActivites; index as i;">
                                <div  class="text-center" *ngIf="activite?.suiviActivites?.length !== 0 && suivi?.documents?.length !== 0">
                                  <div *ngFor="let doc of suivi?.documents; index as i;" >
                                    <img [src]="sourceBase64(doc)" alt="Image de suivi" style="display: block; width: 50%;height: 100px"><br>
                                  </div>
                                   {{lot?.libelle}} | {{activite?.libelle}} <br> Images prises à la date du
                                  {{suivi?.dateSuivi | date:'dd/MM/yyyy':'':'fr'}} <br><br><br>
                                  <br>
                                </div>
                              </div>
                            </div>
                            <br>
                        </div>
                    </div>
                  </ol><br>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.print();
</script>
