<form [formGroup] = "formFinancement" (ngSubmit)="onSubmit(formFinancement)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="libelle">Libellé du financement</label>
      <input type="text" id="libelle" [(ngModel)]="financement.libelle" formControlName="libelle" class="form-control" placeholder="Libellé du financement (*)">

    </div>
    <div class="form-group">
      <label>Description du financement: </label>
      <textarea class="textarea" [(ngModel)]="financement.description" formControlName="description" placeholder="Description du financement" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
    </div>

    <div class="form-group">
      <label for="montant">Montant du financement</label>
      <input type="text" id="montant" [(ngModel)]="financement.montant" formControlName="montant" class="form-control" placeholder="Montant du financement (*)">

    </div>
    <div class="form-group">
      <label for="dateFinancement">Date de financement:</label>
      <owl-date-time
        [placeHolder]="'Date de financement'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateFinancement'"
        [(ngModel)]="financement.dateFinancement"
        formControlName="dateFinancement">

      </owl-date-time>
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formFinancement.valid" class="pull-right btn btn-primary" id="ajouter">Enregistrer
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>

</form>
