<div class="row">
  <div class="col-lg-12">
    <div class="pull-right">
      <button class="btn btn-primary" (click)="ajouterLot()"> <span class="glyphicon glyphicon-plus"></span> Nouveau lot </button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Libelle </th>
      <th>Date de création</th>
      <th>Date d'exécution</th>
      <th>Date de fin</th>
      <th>Budget en FCFA</th>
      <th>Statut</th>
      <th class="text-right">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lot of projet?.lots ; index as i;" [ngClass]=""
        popover="{{lot?.description}}"
        popoverTitle="Description du Lot"
        triggers="mouseenter:mouseleave"
        (dblclick) ="onEdit(lot)">
      <td>{{i+1}}</td>
      <td>{{lot?.libelle}}</td>
      <td>{{lot?.dateCreation | date:'dd MMMM yyyy':'':'fr'}}</td>
      <td>{{lot?.dateExecutionPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}</td>
      <td>{{lot?.dateFinPrevisionnelle | date:'dd MMMM yyyy':'':'fr'}}</td>
      <td>{{lot?.budget}}</td>
      <td *ngIf="lot?.statutLot=='Nouveau'"><span class="label label-success">{{lot.statutLot}}</span></td>
      <td *ngIf="lot?.statutLot=='En cours'"><span class="label label-warning">{{lot.statutLot}}</span></td>
      <td *ngIf="lot?.statutLot=='Terminé'"><span class="label label-primary">{{lot.statutLot}}</span></td>
      <td *ngIf="lot?.statutLot=='Arrêté'"><span class="label label-danger">{{lot.statutLot}}</span></td>
      <td class="text-right">
        <div class="btn-group">
          <button (click)="onInfoLot(projet.id, lot.id)" class="btn-white btn btn-xs">
            <i class="fa fa-info" style="size: 15px; color:#1ab394"></i>
          </button>
          <button (click)="onEdit(lot)" class="btn-white btn btn-xs">
            <i class="fa fa-pencil-square-o" style="size: 15px; color:#1ab394"></i>
          </button>
          <button style="text-align: right" (click)="onDelete(lot)" class="btn-white btn btn-xs">
            <i class="fa fa-trash" style="size: 15px; color:#1ab394"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ngx-smart-modal #lotModal [identifier]="'modalLot'" (onOpen)="modalOpen()">
  <h2>{{titreModalLot}}</h2>
  <app-form-lot *ngIf="modal" [projet]="projet" [lot] ="lot" (retourLot) ="addNewLot($event)"></app-form-lot>
</ngx-smart-modal>
