<div class="footer">
  <div class="pull-right">
    <!--10GB of <strong>250GB</strong> Free.-->
    <strong>ERP</strong>edu
  </div>
  <div>
    <strong>Copyright</strong> ISEP Diamniadio &copy; 2017
  </div>
</div>
