<div class="row border-bottom">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links monnav">
      <li dropdown>
        <a aria-expanded="false" role="button"  dropdownToggle> Travail Collaboratif <span class="caret"></span></a>
        <ul role="menu" *dropdownMenu class="dropdown-menu">
          <li><a href="">Projet</a></li>
          <li><a href="">Documents</a></li>
          <li><a href="">Réseau Social</a></li>
        </ul>
      </li>
      <li dropdown>
        <a aria-expanded="false" role="button" dropdownToggle> RH <span class="caret"></span></a>
        <ul role="menu" *dropdownMenu class="dropdown-menu">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
        </ul>
      </li>
      <li dropdown>
        <a aria-expanded="false" role="button" dropdownToggle> Finances <span class="caret"></span></a>
        <ul role="menu" *dropdownMenu class="dropdown-menu">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
        </ul>
      </li>
      <li dropdown>
        <a aria-expanded="false" role="button" dropdownToggle> Services <span class="caret"></span></a>
        <ul role="menu" *dropdownMenu class="dropdown-menu">
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
          <li><a href="">Menu item</a></li>
        </ul>
      </li>
      <li class="navbar-right">
        <a (click)="logout()">
          <i class="fa fa-sign-out"></i> Déconnexion
        </a>
      </li>
    </ul>

  </nav>
</div>
