<div class="row border-bottom white-bg" id="topmenu" >
  <nav class="navbar navbar-fixed-top" role="navigation" style="z-index: 1000">
    <div class=" entete text-center">
      <h2 style="font-weight: bold">{{getHeader()}}</h2>
    </div>
    <div class="navbar-header">
      <a [routerLink]="['/welcome']" class="navbar-brand">Menu</a>
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <i class="fa fa-reorder"></i>
      </button>
      <a href="https://www.isepdiamniadio.com/" class="navbar-brand" style="background: transparent"><img src="assets/images/logo/logo-isep-diamniadio.png" style="width: 80px; height: 50px; margin-top: -15px; margin-left: -10px;"></a>
      <a [routerLink]="['/dashboards/projets']" class="navbar-brand">Projets</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav" *ngIf="getIdProjet()!==null">
        <li class="active">
          <a aria-expanded="false" role="button" [routerLink]="['/dashboards/projets', getIdProjet()]"> {{getNomProjet()}}</a>
        </li>
        <li dropdown>
          <a aria-expanded="false" role="button"  dropdownToggle (click)="goTo('detail')"> Détail <span class="caret"></span></a>
          <ul role="menu" *dropdownMenu class="dropdown-menu">
            <li><a (click)="show('financement')">Financements</a></li>
            <li><a (click)="show('acteur')">Acteurs</a></li>
            <li><a (click)="show('ressource')">Ressources</a></li>
            <li><a (click)="show('planning')">Planning de référence</a></li>
          </ul>
        </li>
        <li dropdown>
          <a aria-expanded="false" role="button" dropdownToggle (click)="goTo('suivi')"> Suivi <span class="caret"></span></a>
          <ul role="menu" *dropdownMenu class="dropdown-menu">
            <li><a (click)="show('decaissement')">Décaissements</a></li>
            <li><a (click)="show('datemarge')">Dates et Marges</a></li>
            <li><a (click)="show('progressionactivite')">Progression des activités</a></li>
          </ul>
        </li>
        <li>
          <a (click)="goTo('analyse')"> Analyse</a>
        </li>
      </ul>
      <ul class="nav navbar-top-links navbar-right">
        <li>
          <a (click)="logout()">
            <i class="fa fa-sign-out"></i> Déconnexion
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
