<form [formGroup] = "formLotOrganisation" (ngSubmit)="onSubmit(formLotOrganisation)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="organisation">Organisation : </label>
      <select id="organisation"
              [(ngModel)]="organisation"
              class="form-control"
              formControlName="organisation">
        <option [ngValue]="''">Choisir...</option>
        <option *ngFor="let organisation of organisations"
                [ngValue]="organisation">
          {{organisation.raisonSociale}}
        </option>
      </select>
      <div class="m-t-xs">
        <small class="text-danger" *ngIf="error">{{error}}</small>
      </div>
    </div>
    <div class="form-group">
      <label>Date de Début d'Attribution:</label>
      <owl-date-time
        [placeHolder]="'Date de Début d\'Attribution'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateDebutAttribution'"
        [(ngModel)]="lotOrganisation.dateDebutAttribution"
        formControlName="dateDebutAttribution">
      </owl-date-time>
    </div>
    <div class="form-group">
      <label>Date de Fin d'Attribution:</label>
      <owl-date-time
        [placeHolder]="'Date de Fin d\'Attribution'"
        [dateFormat]="'DD-MM-YYYY HH:mm'"
        [inputId]="'dateFinAttribution'"
        [(ngModel)]="lotOrganisation.dateFinAttribution"
        formControlName="dateFinAttribution">
      </owl-date-time>
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formLotOrganisation.valid"
              class="pull-right btn btn-primary" id="ajouter">Valider
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>
</form>
