<form [formGroup] = "formRessource" (ngSubmit)="onSubmit(formRessource)">
  <div class="col-lg-12 col-xs-12">
    <div class="form-group">
      <label for="nom">Nom de la ressource</label>
      <input type="text" id="nom" [(ngModel)]="ressource.nom" formControlName="nom" class="form-control" placeholder="Nom de la ressource (*)">
    </div>
    <div class="form-group">
      <label for="email">Contact de la ressource</label>
      <input type="text" id="email" [(ngModel)]="ressource.email" formControlName="email" class="form-control" placeholder="Contact de la ressource (*)">
    </div>
    <div class="form-group">
      <label for="quantitePrevue">Quantité Prévue: </label>
      <input type="number" id="quantitePrevue" [(ngModel)]="ressource.quantitePrevue" formControlName="quantitePrevue" class="form-control" placeholder="Quantité Prévue de la ressource pour le projet (*)">
    </div>
    <div class="form-group">
      <label for="uniteRessource">Unité de la ressource</label>
      <select id="uniteRessource" [(ngModel)]="ressource.unite" class="form-control" formControlName="uniteRessource">
        <option [ngValue]="''">Choisir...</option>
        <option *ngFor="let unite of ressourceUnites" [ngValue]="unite.name">{{unite.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="typeRessource">Type de la ressource</label>
      <select id="typeRessource" [(ngModel)]="ressource.typeRessource" class="form-control" formControlName="typeRessource">
        <option [ngValue]="''">Choisir...</option>
        <option *ngFor="let type of ressourceTypes" [ngValue]="type.name">{{type.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="ressourceGroupe">Equipe</label>
      <select id="ressourceGroupe" (change)="yesnoCheck()" [(ngModel)]="ressource.ressourceGroupe" class="form-control" formControlName="ressourceGroupe">
        <option value="new">Nouvelle Equipe...</option>
        <option *ngFor="let res of ressourceGroupes" [ngValue]="res">{{res.nom}}</option>
      </select>
    </div>
    <div class="form-group" id="newRessourceGroupeInput" style="display: none;">
      Saisissez le nom de la nouvelle équipe de ressources
      <br>
      <input type="text" id="newRessourceGroupe" [(ngModel)]="ressourceGroupe.nom" formControlName="newRessourceGroupe" class="form-control" placeholder="Nom du nouveau groupe de ressources">
    </div>
    <div class="alert-danger" *ngIf="errorMessage">
      {{errorMessage.toString()}}
    </div>
    <div class="box-footer clearfix">
      <button type="submit" [disabled]="!formRessource.valid" class="pull-right btn btn-primary" id="ajouter">Valider
        <i class="fa fa-arrow-circle-right"></i></button>
    </div>
  </div>
</form>
