<div class="row">
  <div class="col-sm-9 m-b-xs">
    <div data-toggle="buttons" class="btn-group">
      <label class="btn btn-sm btn-primary" (click)="ajouter()"><span class="glyphicon glyphicon-plus"></span> Ajouter un nouveau projet </label>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Nom </th>
      <th>Type </th>
      <th>Créateur </th>
      <th>Date de création</th>
      <th>Date de réception</th>
      <!--<th>Complet</th>-->
      <th>Statut</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let projet of projets ; index as i;" [ngClass]=""
        popover="{{projet.description}}"
        popoverTitle="Description du projet"
        triggers="mouseenter:mouseleave" (click)="projetDetail(projet.id)">
      <td>{{i+1}}</td>
      <td>{{projet.nom}}</td>
      <td>{{projet?.typeProjet.libelle}}</td>
      <td
        popover="{{projet?.createur?.telephone}} / {{projet?.createur?.email}}"
        popoverTitle="Téléphone/Email"
        triggers="mouseenter:mouseleave"
        >{{projet?.createur?.prenom}} {{projet?.createur?.nom}}</td>
      <td>{{projet.dateCreation | date:'dd/MM/yyyy':'':'fr'}}</td>
      <!--<td>{{projet.dateLivraisonPrevue | date:'dd MMMM yyyy':'':'fr'}}</td>-->
      <td>{{projet.dateReceptionPrevisionnelle | date:'dd/MM/yyyy':'':'fr' || 'indefinie'}}</td>
      <!--<td><span peity [type]="peityType" [options]="peityOptions">0.52/1.561</span></td>-->
      <td *ngIf="projet?.statutProjet==='Nouveau'"><span class="label label-success">NOUVEAU</span></td>
      <td *ngIf="projet?.statutProjet==='En cours'"><span class="label label-warning">EN COURS</span></td>
      <td *ngIf="projet?.statutProjet==='Terminé'"><span class="label label-primary">TERMINE</span></td>
      <td *ngIf="projet?.statutProjet==='Arrêté'"><span class="label label-danger">ARRETE</span></td>
      <td class="text-right" (click)="$event.stopPropagation();">
        <div class="btn-group">
          <button style="text-align: right" (click)="onEdit(projet)" class="btn-white btn btn-xs">
            <i class="fa fa-edit" style="size: 15px; color:#1ab394"></i>
          </button>
          <button style="text-align: right" (click)="onDelete(projet)" class="btn-white btn btn-xs">
            <i class="fa fa-trash" style="size: 15px; color:#1ab394"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ngx-smart-modal #projetModal [identifier]="'modalProjet'" (onOpen)="modalProjet()">
  <h1>{{titreModalProjet}}</h1>
  <app-form-projet *ngIf="modalProjetOpen" [projet]="projet" (addProjet)="addNewProjet($event)"></app-form-projet>
</ngx-smart-modal>
